SPRING_PROFILES_ACTIVE=dev
DB_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
DB_USERNAME=seu_user
DB_PASSWORD=sua_senha
DB_DRIVER_CLASS_NAME=oracle.jdbc.OracleDriver
FLYWAY_ENABLED=true
FLYWAY_BASELINE_ON_MIGRATE=true

# Docker Postgres / pgAdmin
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=

# JWT
JWT_SECRET=
JWT_EXPIRATION_MINUTES=60

# AWS SES
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_SES_ENDPOINT=
SES_FROM_EMAIL=

# RabbitMQ
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

# RabbitMQ (email notifications)
RABBITMQ_CONSULTATION_CREATED_QUEUE=emailSender
RABBITMQ_CONSULTATION_CREATED_EXCHANGE=emailSender-ex
RABBITMQ_CONSULTATION_CREATED_ROUTING_KEY=emailSender-rk
RABBITMQ_CONSULTATION_CREATED_DLQ_QUEUE=emailSender.dlq
RABBITMQ_CONSULTATION_CREATED_DLQ_EXCHANGE=emailSender-dlx
RABBITMQ_CONSULTATION_CREATED_DLQ_ROUTING_KEY=emailSender-dlq-rk

# CORS (padrões de origem separados por vírgula, incluindo LAN para testes no celular)
APP_CORS_ALLOWED_ORIGIN_PATTERNS=http://localhost:*,http://127.0.0.1:*,http://192.168.*:*,http://10.*:*,http://172.*:*
